<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>在庫管理システム</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">在庫管理システム</a>
    </div>
  </nav>

  <main>
    <div class="container">
      <div style="padding: 40px 0;"></div>
      <h1>ログイン</h1>
      <%= form_with url: login_path, method: :post, local: true do |f| %>
        <div>
          <%= f.label :login_id, 'ログインID' %><br>
          <%= f.text_field :login_id %>
        </div>
        <div>
          <%= f.label :password, 'パスワード' %><br>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.submit 'ログイン' %>
        </div>
      <% end %>
      
      <% if flash[:notice] %>
        <p style="color: red;"><%= flash[:notice] %></p>
      <% end %>
    </div>
  </main>
</body>
</html>